* {
    box-sizing: border-box;
}

/*
@font-face {
  font-family: RF Dewi;
  src: url(../assets/font/Russian Fonts-RF Dewi-Regular.otf);
  font-weight: 400;
}
*/

@font-face {
    font-family: RF Dewi;
    src: url(../assets/font/RFDewi-Regular.woff2) format('woff2'),
        url(../assets/font/RFDewi-Regular.woff) format('woff'),
        url(../assets/font/RFDewi-Regular.ttf) format('truetype');
    font-weight: 400;
    font-style: normal;
  }

/*
@font-face {
  font-family: RF Dewi;
  src: url(../assets/font/Russian Fonts-RF Dewi-Bold.otf);
  font-weight: 400;
}
*/

@font-face {
    font-family: RF Dewi B;
    src: url(../assets/font/RFDewi-Bold.woff2) format('woff2'),
        url(../assets/font/RFDewi-Bold.woff) format('woff'),
        url(../assets/font/RFDewi-Bold.ttf) format('truetype');
    font-weight: 700;
  }

@font-face {
    font-family: RF Dewi I;
    src: url(../assets/font/RFDewi-Italic.woff2) format('woff2'),
        url(../assets/font/RFDewi-Italic.woff) format('woff'),
        url(../assets/font/RFDewi-Italic.ttf) format('truetype');
    font-weight: 500;
  }

@font-face {
    font-family: Lovelace;
    src: url(../assets/font/Lovelace-Medium.woff2) format('woff2'),
        url(../assets/font/Lovelace-Medium.woff) format('woff'),
        url(../assets/font/Lovelace-Medium.ttf) format('truetype');
    font-weight: 500;
    font-style: normal;
  }

@font-face {
    font-family: Lovelace I;
    src: url(../assets/font/Lovelace-MediumItalic.woff2) format('woff2'),
        url(../assets/font/Lovelace-MediumItalic.woff) format('woff'),
        url(../assets/font/Lovelace-MediumItalic.ttf) format('truetype');
    font-weight: 500;
    font-style: normal;
  }

/*
@font-face {
  font-family: Lovelace;
  src: url(../assets/font/Lovelace Medium Italic.otf);
  font-weight: 400;
}
*/

.loadermask {
	background: rgb(255, 29, 37);
	bottom: 0;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 999;
}

.loader {
    transform: translateZ(1px);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate( -50%, -50% );
    -webkit-transform: translate( -50%, -50% );
}

.loader > div {
    display: inline-block;
    width: 6vh;
    height: 6vh;
    border-radius: 50%;
    background: #e6e6e6;
    animation: lds-circle 2.4s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

@keyframes lds-circle {
    0%, 100% {
        animation-timing-function: cubic-bezier(0.5, 0, 1, 0.5);
    }
    0% {
        transform: rotateY(0deg);
    }
    50% {
        transform: rotateY(1800deg);
        animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
    }
    100% {
        transform: rotateY(3600deg);
    }
}

::selection {
    color:white;
    background: rgb(255, 29, 37);
}

a {
    color: black;
}

a, a:visited {
	transition: 0.3s all ease;
}

a:hover {
    color: black;
    background-color: rgb(255, 29, 37);
    text-decoration: none;
}

body {
	color: black;
    margin: 2vh;
    font-family: RF Dewi;
    font-size: 2.1vh;
    background-color: #e6e6e6;
}

b {
    font-family: RF Dewi B;
}

i {
    font-family: RF Dewi I;
}

p a {
    text-decoration: underline;
}

p a:hover {
    text-decoration: underline;
}

.container1 {
    padding: 0;
}

.nav {
    border: 0.2vh solid black;
    background-color: white;
    margin-bottom: 2vh;
    padding-right: 2vh;
    padding-left: 2vh;
    justify-content: space-between;
    width: 32.5vw;
}

.container2 {
    padding: 0;
}

.sidebar {
    border: 0.2vh solid black;
    padding-top: 2vh;
    padding-left: 2vh;
    padding-right: 2vh;
    padding-bottom: 2vh;
    margin-bottom: 2vh;
    background-color: white;
    min-height: 85vh;
    max-height: auto;
    width: 32.5vw;
}

.info {
    font-family: Lovelace;
    font-size: 2.1vh;
    font-weight: 600;
    color: rgb(255, 29, 37);
    margin-top: -4.5vh;
    padding: 0;
    text-align: right;
}

.info2 {
    font-family: Lovelace;
    font-size: 16px;
    font-weight: 600;
    color: rgb(255, 29, 37);
    margin-top: 2vh;
    margin-bottom: 2vh;
    padding-left: 0;
}

.website{
    font-family: Lovelace;
}

.catalogo {
	display: flex;
	max-width: 100%;
	flex-wrap: wrap;
    padding: 0;
    margin:0;
    justify-content: space-between;
}

.progetto {
	width: 6.8vw;
    height: 27vh;
	display: flex;
    padding-left: 0;
    padding-right: 0;
    margin-left: 2vh;
    margin-bottom: 2vh;
    flex-basis: column;
    align-items: stretch;
    justify-content: flex-start;
}

.segnaposto {
    width: 6.8vw;
    height: 27vh;
	display: none;
    padding-left: 0;
    padding-right: 0;
    margin-left: 1.9vh;
    margin-bottom: 2vh;
    flex-basis: column;
    align-items: stretch;
    justify-content: flex-start;   
}

.num {
    color: black;
    height: 1.6vh;
    font-size: 1.6vh;
    line-height: 1;
    font-family: RF Dewi B;
    margin: 0;
    padding: 0;
}

.fotoback01 {
  width: 100%;
  display: block;
  height: 20vh;
  background: url('https://i.ibb.co/tzghrpK/Senza-titolo-4-16.png') no-repeat center center;
  background-size: cover;
}

.fotoback02 {
  width: 100%;
  display: block;
  height: 20vh;
  background: url('https://i.ibb.co/z4ntNYX/DFGP-salutemulti.png') no-repeat center center;
  background-size: cover;
}

.fotoback03 {
  width: 100%;
  display: block;
  height: 20vh;
  background: url('https://i.ibb.co/3MMhR5M/prog04.png') no-repeat center center;
  background-size: cover;
}

.fotoback04 {
  width: 100%;
  display: block;
  height: 20vh;
  background: url('https://i.ibb.co/M7KPwV6/prog05.png') no-repeat center center;
  background-size: cover;
}

.fotoback05 {
  width: 100%;
  display: block;
  height: 20vh;
  background: url('https://i.ibb.co/JzqG8Js/prog02.jpg') no-repeat center center;
  background-size: cover;
}

.fotoback06 {
  width: 100%;
  display: block;
  height: 20vh;
  background: url('https://i.ibb.co/VvvCLdx/prog01.png') no-repeat center center;
  background-size: cover;
}

.fotoback07 {
  width: 100%;
  display: block;
  height: 20vh;
  background: url('https://i.ibb.co/dtRw0BS/prog03.png') no-repeat center center;
  background-size: cover;
}

.fotoback08 {
  width: 100%;
  display: block;
  height: 20vh;
  background: url('https://i.ibb.co/4dWPwJP/prog06.png') no-repeat center center;
  background-size: cover;
}

.fotoback09 {
  width: 100%;
  display: block;
  height: 20vh;
  background: url('https://i.ibb.co/sqP2zjV/prog07.png') no-repeat center center;
  background-size: cover;
}

.fotoback10 {
  width: 100%;
  display: block;
  height: 20vh;
  background: url('https://i.ibb.co/vB1z5Rr/prog08.png') no-repeat center center;
  background-size: cover;
}

.fotoback11 {
  width: 100%;
  display: block;
  height: 20vh;
  background: url('https://i.ibb.co/nzgj4PC/prog09.png') no-repeat center center;
  background-size: cover;
}

.fotoback12 {
  width: 100%;
  display: block;
  height: 20vh;
  background: url('https://i.ibb.co/dPGLmkS/prog10.png') no-repeat center center;
  background-size: cover;
}

.foto{
    border: 0.2vh solid black;
    margin-top: 3vh;
    width: 6.8vw;
    height: 20vh;
    position:relative;
    padding: 0;
/*    margin-left: -1.9vh;*/
    margin-left: -2.8vh;
}

.infoprog {
/*    border: 0.2vh solid black;*/
/*    margin-top: 3vh;*/
/*    position: absolute;*/
/*    width: 6.8vw;*/
    height: 18.6vh;
    padding: 0;
    margin: 0.5vh;
/*    margin-left: -1.9vh;*/
/*    margin-left: -6.8vw;*/
    background-color: rgb(255, 29, 37);
    opacity: 0;
    transition: .5s all ease;
    border-radius: 1.5vh;
}

.titoloprog {
    color: black;
    font-size: 1.9vh;
    padding: 0.5vh;
}

.progetto:hover .infoprog {
  opacity: 0.9;
}

.tags {
    width: 6.8vw;
    color: black;
    font-size: 1.6vh;
    line-height: 1;
    margin-top: 23.7vh;
    margin-left: -2vh;
    margin-left: -6.8vw;
    padding: 0;
}

h1 {
    font-family: Lovelace I;
    font-size: 4vh;
    color: rgb(255, 29, 37);
}

h1 a {
    font-family: Lovelace I;
    font-size: 4vh;
    color: rgb(255, 29, 37);
    text-decoration: underline;
}

h1 a:hover {
    color: black;
    background-color: rgb(255, 29, 37);
    text-decoration: underline;
}

.container3 {
    padding: 0;
    margin:0;
}

.footer {
    color: black;
    font-size: 1.6vh;
    border: 0.2vh solid black;
    background-color: white;
    padding-right: 2vh;
    padding-left: 2vh;
    width: 32.5vw;
}

/*//////////////*/
/*Media queries*/

@media only screen and (max-width: 1200px) {
    
    body {
        font-family: RF Dewi;
        font-size: 16px;
    }
    
    .nav {
        border: 1px solid black;
        width: 100%;
    }
    
    h1 {
        font-size: 32px;
    }
    
    h1 a {
        font-family: Lovelace I;
        font-size: 32px;
        color: rgb(255, 29, 37);
        text-decoration: underline;
    }
    
    h1 a:hover {
        color: black;
        background-color: rgb(255, 29, 37);
        text-decoration: underline;
    }
    
    .sidebar {
        border: 1px solid black;
        padding-top: 2vh;
        padding-left: 2vh;
        padding-right: 2vh;
        padding-bottom: 2vh;
        margin-bottom: 2vh;
        background-color: white;
        min-height: auto;
        max-height: auto;
        width: 100%;
        position: relative;
    }
    
    .catalogo {
        min-width: 100%;
        justify-content: space-between;
        margin:0px;
    }
    
    .bcv { 
    font-size: 20px;
    }
    
    .num {
        height: 12px;
        font-size: 12px;
    }

    
    .progetto {
        height: 200px;
        width: 98px;
        margin: 7px;
        margin-top: 15px;
        margin-bottom: 15px;
    }
    
    .foto{
        border: 1px solid black;
        margin-top: 20px;
        width: 98px;
        height: 150px;
        position:relative;
        padding: 0;
        margin-left: -2.8vh;
    }
    
    .infoprog {
/*        border: 0px solid black;*/
/*
        margin-top: 20px;
        width: 98px;
*/
        height: 148px;
        padding: 0;
/*        position: absolute;*/
/*        margin-left: -1.9vh;*/
/*        margin-left: -98px;*/
        background-color: rgb(255, 29, 37);
        opacity: 0;
        transition: .5s all ease;
    }
    
    .titoloprog {
        color: black;
        font-size: 16px;
        padding: 3px;
    }
    
    .tags {
        width: 98px;
        color: black;
        font-size: 12px;
        line-height: 1;
        margin-top: 180px;
        margin-left: -2vh;
        margin-left: -98px;
        padding: 0;
    }
    
    .footer {
        font-size: 12px;
        border: 1px solid black;
        width: 100%;
    }

}

@media only screen and (width: 1366px) and (height: 1024px) {
    .sidebar {
        height: auto;
        position: relative;
    }
    
    .catalogo {
        display: flex;
        flex-wrap: wrap;
        padding: 0;
        margin:0;
        justify-content: space-between;
    }
    
    .segnaposto {
        display: flex;
    }
    
    .seg2 {
        display: none;
    }
    
    .info {
        font-family: Lovelace;
        font-size: 2.1vh;
        font-weight: 600;
        color: rgb(255, 29, 37);
        margin-top: -4.5vh;
        text-align: right;
        padding: 0;
    }
}

@media only screen and (max-width: 3000px) and (min-height: 2000px) { 
    body {
        color: black;
        margin: 2vh;
        font-family: RF Dewi;
        font-size: 1vh;
        background-color: #e6e6e6;
    }
    
    .nav {
        border: 0.2vh solid black;
        background-color: white;
        margin-bottom: 1.5vh;
        padding-right: 1.5vh;
        padding-left: 2vh;
        justify-content: space-between;
        width: 32.5vw;
    }
    
    .sidebar {
        border: 0.2vh solid black;
        padding-top: 1.5vh;
        padding-left: 1.5vh;
        padding-right: 1.5vh;
        padding-bottom: 1.5vh;
        margin: 0;
        margin-bottom: 2vh;
        background-color: white;
        min-height: 88.5vh;
        max-height: auto;
        width: 32.5vw;
    }
    
    h1 {
        font-size: 2.3vh;
    }
    
     h1 a {
         font-family: Lovelace I;
         font-size: 2.3vh;
         color: rgb(255, 29, 37);
         text-decoration: underline;
    }
    
    h1 a:hover {
        color: black;
        background-color: rgb(255, 29, 37);
        text-decoration: underline;
    }
    
    .catalogo {
        display: flex;
        max-width: 100%;
        flex-wrap: wrap;
        padding: 0;
        padding-left: 1vw;
        margin:0;
        justify-content: space-between;
    }
    
    .progetto {
        width: 6.8vw;
        height: 10vh;
        display: flex;
        padding-left: 0;
        padding-right: 0;
        margin-left: 2vh;
        margin-bottom: 2vh;
        flex-basis: column;
        align-items: stretch;
        justify-content: flex-start;
    }
    
    .segnaposto {
        width: 6.8vw;
        height: 10vh;
        display: none;
        padding-left: 0;
        padding-right: 0;
        margin-left: 1.1vh;
        margin-bottom: 2vh;
        flex-basis: column;
        align-items: stretch;
        justify-content: flex-start;
    }
    
    .info {
        font-family: Lovelace;
        font-size: 1.1vh;
        font-weight: 600;
        color: rgb(255, 29, 37);
        padding: 0;
        text-align: right;
    }
    
    .num {
        color: black;
        height: 0.7vh;
        font-size: 0.7vh;
        line-height: 0.5;
        font-weight: bold;
        margin: 0;
        padding: 0;
    }
    
   .foto{
       border: 0.2vh solid black;
       margin-top: 1.5vh;
       width: 6.8vw;
       height: 10vh;
       position:relative;
       padding: 0;
       margin-left: -1.1vh;
    }
    
/*
    .foto10 {
        margin-left: -1.1vh;
    }
*/
    
    .infoprog {
/*        border: 0.2vh solid black;*/
/*
        margin-top: 1.5vh;
        width: 6.8vw;
*/
        height: 9.8vh;
        padding: 0;
/*        position: absolute;*/
/*        margin-left: -1.1vh;*/
/*        margin-left: -6.8vw;*/
        background-color: rgb(255, 29, 37);
        opacity: 0;
        transition: .5s all ease;
    }
    
    .titoloprog {
        color: black;
        font-size: 0.75vh;
        padding: 0.25vh;
    }
    
    .tags {
        width: 6.8vw;
        color: black;
        font-size: 0.7vh;
        line-height: 0.9vh;
        margin-top: 12.5vh;
        margin-left: -2vh;
        margin-left: -6.8vw;
        padding: 0;
    }

    .footer {
        color: black;
        font-size: 0.7vh;
        border: 0.2vh solid black;
        background-color: white;
        padding-right: 1.5vh;
        padding-left: 1.5vh;
        width: 32.5vw;
        margin: 0;
    }
}

@media only screen and (max-width: 1200px) and (min-width: 1150px) {
    .segnaposto {
        display: flex;
    }
    
    .seg2 {
        display: flex;
    }
    
    .loca {
        display: none;
    } 
}

@media only screen and (max-width: 1150px) and (min-width: 1039px) {
    .segnaposto {
        display: none;
    }
    
    .seg2 {
        display: flex;
    }
}

@media only screen and (max-width: 1039px) and (min-width: 927px) {
    .segnaposto {
        display: none;
    }
    
    .seg2 {
        display: none;
    }
}

@media only screen and (max-width: 927px) and (min-width: 815px) {
    .segnaposto {
        display: flex;
    }
    
    .seg2 {
        display: none;
    }
}

@media only screen and (max-width: 815px) {
    .container2 {
        padding: 0;
    }
    
    .catalogo {
        min-width: 100%;
        justify-content: space-between;
        margin:0px;
    }
    
    .progetto {
        height: 200px;
        width: 98px;
        margin: 7px;
        margin-top: 15px;
        margin-bottom: 15px;
    }
    
    .segnaposto {
        display: none;
    }
}

@media only screen and (max-width: 703px) and (min-width: 590px) {
    .segnaposto {
        display: none;
    }
    
    .seg2 {
        display: none;
    }
    
    .viva {
        display: flex;
    }
}

@media only screen and (max-width: 590px) {
    .container2 {
        padding: 0;
    }
    
    .catalogo {
        min-width: 100%;
        justify-content: space-between;
        margin:0px;
    }
    .progetto {
        height: 200px;
        width: 98px;
        margin: 7px;
        margin-top: 15px;
        margin-bottom: 15px;
    }
    
    .segnaposto {
        display: none;
    }
    
    .seg2 {
        display: none;
    }
    
    .infoprog {
/*
        border: 1px solid black;
        margin-top: 20px;
        width: 98px;
*/
        height: 148px;
        padding: 0;
/*        position: absolute;*/
/*        margin-left: -1.9vh;*/
/*        margin-left: -97px;*/
        background-color: rgb(255, 29, 37);
        opacity: 0;
        transition: .5s all ease;
    }
}